.main {
  margin: 50px auto;
  width: 800px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml20 {
  margin-left: 20px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.err {
  color: red;
  font-size: 10px;
}